name: C++ Build & Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build multi-stage Docker image
        run: docker build --network=host -t cppapp .

      - name: Run tests
        run: docker run --rm --network host cppapp ./build/main

